<div class="container">
    <mat-card>
      <img mat-card-image src="../../assets/images/Apple iPhone 14 Pro Max (256 GB).jpg" alt="IPhone 14 Pro Max">
      <mat-card-header>
        <mat-card-title>Apple iPhone 14 Pro Max (256 GB)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 30,000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove from Cart</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <img mat-card-image src="../../assets/images/HUAWEI nova Y70.jpg" alt="HUAWEI nova Y70">
      <mat-card-header>
        <mat-card-title>HUAWEI nova Y70</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 9000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove from Cart</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/images/Xiaomi Redmi Note10s.jpg" alt="Xiaomi Redmi Note10s">
      <mat-card-header>
        <mat-card-title>Xiaomi Redmi Note10s</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 8000 EGP</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <img mat-card-image src="../../assets/images/ACER NITRO5- CORE I7.jpg" alt="ACER NITRO5- Core I7">
      <mat-card-header>
        <mat-card-title>ACER NITRO5- CORE I7</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 15,000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/images/SAMSUNG 55 Inch TV.jpg" alt="SAMSUNG 55 Inch">
      <mat-card-header>
        <mat-card-title>SAMSUNG 55 Inch TV</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 12,000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/images/DELL Vostro 3520 Laptop - 12th Intel core i7.jpg" alt="DELL Vostro">
      <mat-card-header>
        <mat-card-title>DELL Vostro 3520 Laptop - 12th Intel core i7</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 14,000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <img mat-card-image src="../../assets/images/Laptop ASUS Vivobook 15 X1502ZA.jpg" alt="ASUS Vivobook">
      <mat-card-header>
        <mat-card-title>Laptop ASUS Vivobook 15 X1502ZA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 6500 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <img mat-card-image src="../../assets/images/CASTLE TV 43 Inches Smart - LEDAC2543S.jpg" alt="CASTLE TV">
      <mat-card-header>
        <mat-card-title>CASTLE TV 43 Inches Smart - LEDAC2543S</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Price : 8000 EGP </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Remove form Cart</button>
      </mat-card-actions>
    </mat-card>

</div>
